html {
    height: -webkit-fill-available;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: -webkit-fill-available;
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(224, 205, 218);
}
h2 { 
color: rgb(255, 255, 255);
align-items: center;
}

#superior {
    display: flex;
    height: 8vmax;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    color: rgb(255, 255, 255);
    background-color: rgb(142, 114, 148);
}
#seccio_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    color: rgb(175, 0, 245);
    flex-direction: column;
}
#seccio_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    color: rgb(106, 73, 126);
    flex-direction: column;
}
#seccio_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    color: rgb(60, 14, 90);
    flex-direction: column;
}
#inici {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 2vmax;
    color: rgba(5, 86, 110, 0.918);
    flex-direction: column;
}
#menu {
    height: 8vmax;
    display: flex;
    
}
#menu a{
    flex: 1; 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 26, 46);
    font-size: 5vmax;
    cursor: pointer; 
    }
